.margin-center {
  margin: 0 auto;
}
.width-styles {
  margin: 0 auto;
  line-height: 3;
}
.contents-text {
  width: 260px;
  margin: 0 auto;
}
.img {
  min-height: 3.75rem;
}
.section-title-line {
    border-bottom: 3px solid #FFB549;
    margin: 1rem auto;
    width: 4rem;
  }
  @media screen and (min-width: 769px) {
      .width-styles {
        width: 620px;
        margin: 0 auto;
        line-height: 2;
      }
    }
